input {
    keyboard {
        xkb {
            layout "fr"
            variant "ergol"
        }
    }
    warp-mouse-to-focus
    focus-follows-mouse
}

/-output "eDP-1" {
    mode "1920x1080"
    scale 2
    transform "normal"
    position x=1280 y=0
}

layout {
    // Set gaps around windows in logical pixels.
    gaps 10
    center-focused-column "never"
    always-center-single-column
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        off
    }

    border {
        on
        width 2
        active-color "#eceff4"
        // inactive-color "#505050"
        // Color of the border around windows that request your attention.
        urgent-color "#9b0000"
    }

    // You can enable drop shadows for windows.
    shadow {
        // Uncomment the next line to enable shadows.
        on
        softness 40
        spread 5
        // Offset moves the shadow relative to the window.
        offset x=1 y=5
        // You can also change the shadow color and opacity.
        color "#0007"
    }
}

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"
spawn-at-startup "waybar"
prefer-no-csd

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null

// https://niri-wm.github.io/niri/Configuration:-Animations
animations {
    slowdown 0.5
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: enable rounded corners for all windows.
window-rule {
    geometry-corner-radius 2
    clip-to-geometry true
}

window-rule {
    match app-id="zen" title="Extension: (Bitwarden Password Manager) - Bitwarden — Zen Browser"
    block-out-from "screen-capture"
}

window-rule {
    match app-id="Alacritty"   
    opacity 0.93
    background-effect {
        xray true
    }
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Return hotkey-overlay-title="Open a Terminal: alacritty" { spawn "alacritty"; }
    Mod+Space hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }

    Super+Alt+S allow-when-locked=true hotkey-overlay-title=null { spawn-sh "pkill orca || exec orca"; }
    Mod+Shift+e hotkey-overlay-title="Run an power menu: fuzzel dmenu" { spawn-sh "~/.config/sway/scripts/powermenu.sh"; }
    Mod+Ctrl+v hotkey-overlay-title="Run an power menu: Ctrl dmenu" { spawn-sh "cliphist list | fuzzel --dmenu | cliphist decode | wl-copy"; }

    // Example volume keys mappings for PipeWire & WirePlumber.
    // The allow-when-locked=true property makes them work even when the session is locked.
    // Using spawn-sh allows to pass multiple arguments together with the command.
    // "-l 1.0" limits the volume to 100%.
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // Example media keys mapping using playerctl.
    // This will work with any MPRIS-enabled media player.
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    // Example brightness key mappings for brightnessctl.
    // You can use regular spawn with multiple arguments too (to avoid going through "sh"),
    // but you need to manually put each argument in separate "" quotes.
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    // Open/close the Overview: a zoomed-out view of workspaces and windows.
    Mod+O repeat=false { toggle-overview; }

    Mod+C repeat=false { close-window; }

    Mod+L  { focus-column-left; }
    Mod+R  { focus-window-down; }
    Mod+T  { focus-window-up; }
    Mod+I  { focus-column-right; }

    Mod+Shift+L { move-column-left; }
    Mod+Shift+I  { move-column-right; }

    Mod+Shift+R     { move-window-down-or-to-workspace-down; }
    Mod+Shift+T     { move-window-up-or-to-workspace-up; }

    Mod+Down           { focus-workspace-down; }
    Mod+Up             { focus-workspace-up; }

    Mod+Ctrl+R         { move-column-to-workspace-down; }
    Mod+Ctrl+T         { move-column-to-workspace-up; }

    Mod+Shift+Down       { move-workspace-down; }
    Mod+Shift+Up         { move-workspace-up; }

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    Mod+Alt+Comma { consume-or-expel-window-left; }
    Mod+Alt+Period { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    Mod+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    Mod+Period { expel-window-from-column; }

    // Cycle through widths set in preset-column-widths.
    Mod+J{ switch-preset-column-width; }
    // Cycling through the presets in reverse order is also possible.
    Mod+Shift+J { switch-preset-column-width-back; }

    Mod+Ctrl+Shift+R { switch-preset-window-height; }
    // Mod+Ctrl+R { reset-window-height; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    // While maximize-column leaves gaps and borders around the window,
    // maximize-window-to-edges doesn't: the window expands to the edges of the screen.
    // This bind corresponds to normal window maximizing,
    // e.g. by double-clicking on the titlebar.
    Mod+M { maximize-window-to-edges; }

    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+Backspace { center-column; }

    // Center all fully visible columns on screen.
    Mod+Ctrl+C { center-visible-columns; }

    // Finer width adjustments.
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels.
    Mod+H { set-column-width "-10%"; }
    Mod+G { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+H { set-window-height "-10%"; }
    Mod+Shift+G { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    // Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+Shift+P { power-off-monitors; }
}

include "dms/outputs.kdl"

include "dms/windowrules.kdl"
