* {
  font-family: Departure Mono;
  font-size: 16px;
  color: #c5d1b7;
}

#mode {
  color: #c3b7d1;
  font-size: 20px;
  font-weight: bold;
  padding: 0 8px;
  margin-left: 8px;
  background-color: rgba(195, 183, 209, 0.15);
}

window#waybar {
  background: rgba(46, 52, 64, 0.92);
  color: #d8dee9;
}

#workspaces {
  margin: 6px 10px;
}

#workspaces button {
  padding: 0 8px;
  margin: 0 4px;
  background: #3b4252;
  color: #d8dee9;
}

#workspaces button.focused {
  background: #81a1c1;
  color: #2e3440;
}

#scratchpad {
  background: #3b4252;
  color: #88c0d0;

  margin: 6px;
  padding: 0 14px;

  border-radius: 10px;

  font-weight: bold;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray {
  background: #3b4252;
  padding: 0 12px;
  margin: 6px 4px;
  border-radius: 8px;
}
