* {
    font-family: JetBrains Mono;
    font-size: 15px;
    color: #C5D1B7;
}

#mode {
    color: #C3B7D1;
    font-size: 20px;
    font-weight: bold;
    padding: 0 8px;
    margin-left: 8px;
    border-radius: 6px;
    background-color: rgba(195, 183, 209, 0.15);
}

window#waybar {
    background-color: rgba(53, 73, 57, 0.92);
    color: #C5D1CB;
    border-bottom: 1px solid #495C40;
}

#workspaces button {
    padding: 0 6px;
    color: #8A9177;
}

#workspaces button.focused {
    background-color: rgba(195, 183, 209, 0.15);
    color: #C3B7D1;
    border-radius: 6px;
    font-weight: bold;
}

#workspaces button.urgent {
    background-color: #9D955A;
    color: #354939;
}

#clock, #memory, #cpu, #power, #pulseaudio, #tray {
    padding: 0 8px;
    margin: 0 4px 0 4px;
    color: #C5D1CB;
}

